
<section class="profile__picture">
    <h2 class="name">Christine Jasline D. Natividad</h2>

</section>


<section class="description">
    <p class="title__description">Web Developer</p>
<p>Hi there! I am Jas, an aspiring web developer from Pampanga. </p>
</section>
<section class="Skills">
    <h1 class="exp__title">Skills</h1>
    <li>Time Management</li>
    <li>Communication Skills</li>
</section>

<section class="Education">
    <h1 class="exp__title">Education</h1>
</section>

<section class="work__experience">
    <h1 class="exp__title">Work Experience</h1>
</section>

